<p id="notice"><%= notice %></p>

<p id="show">
  <strong>Title:</strong>
  <%= @lecture.title %>

  <p>
    <%= image_tag @lecture.coverImage, class: "field_cover_image"  %>
  </p>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
